section {
    margin-top: 5em;
    min-height: 20em;
    margin: 0 auto;
}

section > div {
    min-height: 2em;
    width:auto;
}

.even , .odd {
    text-align: center;
    margin: 0 auto;
    width: auto;
}

input {
    text-align: center;
    background: #427cdf;
    font-weight: bold;
    color: #F5F5F5;
    border: 0;
    border-radius: 3px;
    margin: 0 10px;
    min-height: 10vh;
    font-size: 3vh;
    display: inline-block;
    cursor: pointer;
    padding: 0 20px;
    width: 35%;
    max-width: 40%;
}

.odd > input {
    max-width: 70%;
}

input:hover {
    transition: all .3s;
    box-shadow: 3px 3px 4px #CCC;
    opacity: 0.9;
}